.bg-box {
  max-width: 600px;
  padding: 400px;
  background-color: darkgreen;
}
.bg-box {
  content: "";
  background-image: url(../img/haus.webp), url(../img/lamp.png),
    url(../img/green.png), url(../img/donat.png), url(../img/hedgehoh.webp);
  background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 300px, 50px, 100px, 20px, 50px;
  background-position: 50% 50%, 100% 0%, 0% 100%, 100% 0%, 0% 100%;
}
